@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Roboto:wght@300&display=swap');

/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  margin: 0;
}

.menu-font {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
  }
}


.login-bg-image {
  /* The image used */
  /*background-image: url("https://images.unsplash.com/photo-1527784281695-866fa715d9d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
*/
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.root-bg {
  background-color: #F7F7F7;
}

.list-item-bg {
  background-color: #FFFFFF;
  border-radius: 10px;
}


span.custom {
  font-size: medium;
  margin: 0px;
  color: #333333;
}

.subtitle {
  font-size: small;
  color: #94A4B8;
}

.btn-xs {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 1.5rem;
  font-size: .75rem;
}

.logo-bg-color {
  background-color: #02142F;
}

.footer-title {
  color: #F7F7F7;
  font-weight: bold;
  font-size: small;
}
.footer-link {
  color: #F7F7F7;
  font-weight: lighter;
  font-size: small;
}



h1.custom {
  font-size: xx-large;
  font-weight: bold;
  margin: 0px;
  color: #160747;
}

h2.custom {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
  color: #160747;
}

h3.custom {
  font-size: large;
  font-weight: bold;
  margin: 0px;
  color: #160747;
}

h4.custom {
  font-size: large;
  margin: 0px;
  color: #160747;
}

span.custom {
  font-size: medium;
  margin: 0px;
  color: #160747;
}

.custom-dropdown-menu {
  max-height: 85vh;
  overflow-y: scroll;
}
