@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
  }
}


.login-bg-image {
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.root-bg {
  background-color: #F7F7F7;
}

.list-item-bg {
  background-color: #FFFFFF;
  border-radius: 10px;
}

h1.custom {
  font-size: xx-large;
  margin: 0px;
}

h2.custom {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}

h3.custom {
  font-size: large;
  font-weight: bold;
  margin: 0px;
}

h4.custom {
  font-size: large;
  margin: 0px;
}

span.custom {
  font-size: medium;
  margin: 0px;
  color: #333333;
}

.subtitle {
  font-size: small;
  color: #94A4B8;
}

.btn-xs {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 1.5rem;
  font-size: .75rem;
}

.logo-bg-color {
  background-color: #02142F;
}

.footer-title {
  color: #333333;
  font-weight: bold;
  font-size: small;
}
.footer-link {
  color: #333333;
  font-weight: lighter;
  font-size: small;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}