@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'LIBRARY 3 AM';
  src: url('/fonts/Library3amsoft.otf');
  font-weight: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'LIBRARY 3 AM';
}

.ad-free-zone,
.ad-free-zone * {
  min-height: 0 !important;
  height: auto !important;
}

.ad-free-zone ins.adsbygoogle,
.ad-free-zone .adsbygoogle {
  display: none !important;
}